{% extends 'base.html' %}
{% block title %}
Author Details
{% endblock %}

{% block content %}
    {% if user.is_authenticated %}
        <div id = 'content'>
        </div>
        <script>
        // get friend request list then render the page.
        // authorid = the id of the author i want to see
        getAuthorDetails("{{authorid}}","{{ current_user_id }}","{{ is_friend }}","{{ followStatus }}").then(renderpage);
        </script>
          {% else %}
          <div class="w3-card w3-round w3-white" style="width:30%;margin:auto;margin-top: 5%;">
            <div class="w3-container w3-padding">
              <div class="w3-center">
                <h3>You are not logged in</h3>
                <a href="{% url 'login' %}" class="w3-button w3-theme-d1 w3-margin-bottom"><i class="fa fa-sign-in"></i>  Login</a>
                <a href="{% url 'signup' %}" class="w3-button w3-theme-d1 w3-margin-bottom"><i class="fa fa-angle-double-up"></i> Sign up</a>
              </div>
            </div>
          </div>
        {% endif %}

{% endblock %}