{% extends 'base.html' %}

{% block title %}Edit Post{% endblock %}

{% block content %}
    {% if user.is_authenticated %}
        <div>
            <h1 class="secondary-color">You are editing your post</h1>
            <div class="w3-card w3-round w3-white">
                <div class="w3-container w3-padding">
                    <form action="" method="POST" >Post type<br>
                        <select name="content-type" id=post-contenttype onchange="enableInput()">
                            <option value="text/plain">Plain text</option>

                            {% if contentType == "text/markdown"  %}
                                <option value="text/markdown" selected="selected">Markdown</option>
                            {% else %}
                                <option value="text/markdown">Markdown</option>
                            {% endif %}

                            {% if contentType == "image/png;base64"%}
                                <option value="image/png;base64" selected="selected">image/png</option>
                            {% else %}
                                <option value="image/png;base64">image/png</option>
                            {% endif %}

                            {% if contentType == "image/jpeg;base64"%}
                                <option value="image/jpeg;base64" selected="selected">image/jpeg</option>
                            {% else %}
                                <option value="image/jpeg;base64">image/jpeg</option>
                            {% endif %}
                        </select>


                        <h4>Post title</h4>
                        <input class="w3-border w3-padding" type="text" name="Title" placeholder="My title" id=post-title value="{{title}}"><br>

                        <h4>Post content</h4>
                        <textarea style="width: 100%; height:10em;"class="w3-border w3-padding" type="text" name="Title" placeholder="What's on your mind?" id=post-content>{{content}}</textarea>

                        <h4>Description</h4>
                        <input class="w3-border w3-padding" type="text" name="Title" placeholder="Description" id=post-description value="{{description}}"><br>

                        <h4>Categories</h4>
                        <input class="w3-border w3-padding" type="text" name="Title" placeholder="Categories" id=post-categories value="{{categories}}"><br>

                        <form>Who do you want to share with?<br>
                            <select name="visibility" id="post-visibility" onchange="enableVisibleTo()">
                                <option value="PUBLIC" selected>PUBLIC</option>

                                {% if visibility == "FOAF" %}
                                    <option value="FOAF" selected="selected">FOAF</option>
                                {% else %}
                                    <option value="FOAF">FOAF</option>
                                {% endif %}

                                {% if visibility == "FRIENDS" %}
                                    <option value="FRIENDS" selected="selected">FRIENDS</option>
                                {% else %}
                                    <option value="FRIENDS">FRIENDS</option>
                                {% endif %}

                                {% if visibility == "PRIVATE" %}
                                    <option value="PRIVATE" selected="selected">PRIVATE TO</option>
                                {% else %}
                                    <option value="PRIVATE">PRIVATE TO</option>
                                {% endif %}

                                {% if visibility == "SERVERONLY" %}
                                    <option value="SERVERONLY" selected="selected">SERVERONLY</option>
                                {% else %}
                                    <option value="SERVERONLY">SERVERONLY</option>
                                {% endif %}
                            </select>
                        </form>
                        <br>

                        <!-- Reference: https://stackoverflow.com/questions/30190588/html-select-multiple-as-dropdown answered Feb 10 '17 at 19:35 mgroat-->
                        <form method="post" enctype="multipart/form-data">
                            <select id= "friendsoptions" data-placeholder="Only avaliable when PRIVATE TO selected" multiple="true" class="chosen-select" name="friends" disabled="true">
                            </select>
                            <script>$(".chosen-select").chosen({width: "35%"});</script>
                            <!--<script>
                                list_item = document.getElementsByClassName("chosen-choices")[0];
                                visableToNames = "{{ visableToNames }}";
                                for (name in visableToNames){
                                    name_element = document.createElement("li");
                                    name_element.classList.add("search-choice");

                                    display_name = document.createElement("span");
                                    display_name.innerText = name;

                                    close_button = document.createElement("a");
                                    close_button.classList.add("search-choice-close");
                                    close_button.setAttribute('data-option-array-index', '0');

                                    name_element.appendChild(display_name);
                                    name_element.appendChild(close_button);
                                    list_item.insertBefore(name_element, list_item.childNodes[0]);
                                }
                                //list_item.appendChild(name_element);

                                //console.log("{{ visibleTos }}")
                            </script> -->
                        </form>
                        <!-- Reference:
                        https://harvesthq.github.io/chosen/#change-update-events
                        https://stackoverflow.com/questions/30190588/html-select-multiple-as-dropdown answered Feb 10 '17 at 19:35 mgroat
                        -->
                        <br>
                        <div>
                            <label id="file-button" for="files" class="w3-button w3-theme"></label>
                            <input id="files" style="visibility:hidden;" type="file" onchange="previewFile()">
                        </div>

                        Unlisted?
                        {% if unlisted %}
                            Yes: <input name="unlisted" value="Yes" type="radio" checked/>
                            No: <input name="unlisted" value="No" type="radio"/>
                        {% else %}
                            Yes: <input name="unlisted" value="Yes" type="radio"/>
                            No: <input name="unlisted" value="No" type="radio" checked/>
                        {% endif %}
                        <br><br>

                        <button type="button" class="w3-button w3-theme" onclick="post()"><i class="fa fa-pencil"></i>Save Changes</button>
                        <script>setupEditPostPage()</script>
                    </form>
                </div>
            </div>
        </div>
    {% else %}
        <div class="w3-card w3-round w3-white" style="width:30%;margin:auto;margin-top: 5%;">
            <div class="w3-container w3-padding">
                <div class="w3-center">
                    <h3>You are not logged in</h3>
                    <a href="{% url 'login' %}" class="w3-button w3-theme-d1 w3-margin-bottom"><i class="fa fa-sign-in"></i>  Login</a>
                    <a href="{% url 'signup' %}" class="w3-button w3-theme-d1 w3-margin-bottom"><i class="fa fa-angle-double-up"></i>  Sign up</a>
                </div>
            </div>
        </div>
    {% endif %}
{% endblock %}