<div class="w3-container w3-card w3-white w3-round w3-margin">
  <div id="github_holder"> 
</div>
<script>
   function display(data) {
      let holder = document.getElementById("github_holder");
      var title = document.createElement("h4"); 
      title.innerHTML = "Github streams";
      title.style.marginTop = "20px";
      holder.appendChild(title);

      var line = document.createElement("hr");
      line.classList.add("w3-clear");
      holder.appendChild(line);

      for (var i = 0; i < data.length; i++) {
        var block = document.createElement("div"); 
        holder.appendChild(block);

        var repo = document.createElement("h6");
        repo.innerHTML = "Repo: "+data[i].repo.name;
        block.appendChild(repo);

        var type = document.createElement("p")
        type.innerHTML = "Event: "+data[i].type;
        block.appendChild(type);

        var line = document.createElement("hr");
        line.classList.add("w3-clear");
        block.appendChild(line);
      }
   }
   if ("{{github_url}}" !== "null"){
    getGithubStream("{{github_url}}").then(display);
   }
</script>