<div class="w3-container w3-card w3-white w3-round w3-margin">
  <h4>Github streams</h4>
  <hr class="w3-clear">
  
  <div class="holder"> 
    <!-- Comment out from here to: -->
    <div>
      <i class="fa fa-user" class="w3-left w3-circle w3-margin-right" style="width:60px"></i>
      username
      <h6 id="title">Title: CMPUT404-Winter-2019-GroupProject</h4>
      <div class="w3-row-padding" style="margin:0 -16px">
        <p id="content">details: something</p>
      </div>
    </div>
    <hr class="w3-clear">
    <div>
      <i class="fa fa-user" class="w3-left w3-circle w3-margin-right" style="width:60px"></i>
      username
      <h6 id="title">Title: CMPUT404-assignment-ajax</h4>
      <div class="w3-row-padding" style="margin:0 -16px">
        <p id="content">details: something</p>
      </div>
    </div>
     <!-- To here when in github backend is done -->
  </div>
 
</div>
  <!-- <div class="w3-container w3-card w3-white w3-round w3-margin"><br>
    <i class="fa fa-user" class="w3-left w3-circle w3-margin-right" style="width:60px"></i>
    <h4 id="title">test </h4>
    <hr class="w3-clear">
    <div class="w3-row-padding" style="margin:0 -16px">
      <p id="content">content</p>
    </div>
    <button class="w3-button w3-theme-d1 w3-margin-bottom"><i class="fa fa-thumbs-up"></i>  Like</button>
    <button class="w3-button w3-theme-d2 w3-margin-bottom"><i class="fa fa-comment"></i>  Comment</button>
  </div> -->

<script>
  // function display(data) {
  //   var holder = document.getElementById("holder");
  //   for (var i = 0; i < data.github.length; i++) {
  //     var block = document.createElement("div");
      
  //     holder.appendChild(block);
  //     var userLogo = document.createElement("i");
  //     userLogo.classList.add("fa", "fa-user");
  //     userLogo.classList.add("w3-left", "w3-circle", "w3-margin-right");
  //     userLogo.style.width = "20px";
  //     userLogo.style.margin = "25px";
  //     block.appendChild(userLogo);
  //   }
  // }
  
  // getGithubStream("/myBlog/github").then(display);
</script>