{% extends 'base.html' %}
{% block content %}

{% if user.is_authenticated %}
<div class="w3-row">
  <div class="w3-col m2">
    <!-- Left coloumn -->
    something
  </div>
  <div class="w3-col m7">
    <!-- Middle coloumn -->
    {% include "posts.html" %}
  </div>
  <div class="w3-col m3">
    <!-- Right coloumn -->
    {% include "github-stream.html" %}
    
  </div>
</div>

{% else %}
  <div class="w3-card w3-round w3-white" style="width:30%;margin:auto;margin-top: 5%;">
  <div class="w3-container w3-padding">
    <div class="w3-center">
    <h3>You are not logged in</h3>
    <a href="{% url 'login' %}" class="w3-button w3-theme-d1 w3-margin-bottom"><i class="fa fa-sign-in"></i>  Login</a>
    <a href="{% url 'signup' %}" class="w3-button w3-theme-d1 w3-margin-bottom"><i class="fa fa-angle-double-up"></i> Sign up</a>
    </div>
  </div>
  </div>
{% endif %}
{% endblock %}
