{% extends 'base.html' %}

{% block title %}Modify Post{% endblock %}

{% block content %}
{% if user.is_authenticated %}




  <div>
    <h1 class="secondary-color">Hi {{ user.username }}! What's on your mind today?</h1>
    <div class="w3-card w3-round w3-white">
    <div class="w3-container w3-padding">
        <form action="" method="PUT" >Post type<br>
        <p id='contentType'>{{ input_data.contentType }} </p>

        <h4>Post title</h4>
        <input class="w3-border w3-padding" type="text" name="Title" value="My title" id=post-title><br>

        <h4>Post content</h4>
        <textarea style="width: 100%; height:10em;"class="w3-border w3-padding" type="text" name="Title" value="What's on your mind?" id=post-content></textarea>

        <h4>Description</h4>
        <input class="w3-border w3-padding" type="text" name="Title" value="Description" id=post-description><br>
        
        <h4>Categories</h4>
        <input class="w3-border w3-padding" type="text" name="Title" value="Categories" id=post-categories><br>
        
        <form>Who do you want to share with?<br>
        <select name="visibility" id="post-visibility" onchange="enableVisibleTo()">
          <option value="PUBLIC" selected>PUBLIC</option>
          <option value="FOAF">FOAF</option>
          <option value="FRIENDS">FRIENDS</option>
          <option value="PRIVATE">PRIVATE TO</option>
          <option value="SERVERONLY">SERVERONLY</option>
        </select>
        </form>
        <br>

        <!-- Reference: https://stackoverflow.com/questions/30190588/html-select-multiple-as-dropdown answered Feb 10 '17 at 19:35 mgroat-->
      <form method="post" enctype="multipart/form-data">
        <select id= "friendsoptions" data-placeholder="Only avaliable when PRIVATE TO selected" multiple="true" class="chosen-select" name="friends" disabled="true">
        </select>
        <script>$(".chosen-select").chosen({width: "35%"});</script>
      </form>          
        <!-- Reference:
        https://harvesthq.github.io/chosen/#change-update-events 
        https://stackoverflow.com/questions/30190588/html-select-multiple-as-dropdown answered Feb 10 '17 at 19:35 mgroat
        -->
        <br>
        <!-- Reference: https://simpleisbetterthancomplex.com/tutorial/2016/08/01/how-to-upload-files-with-django.html  
        https://stackoverflow.com/questions/14007629/document-getelementbyidremember-visibility-hidden-not-working-on-a-chec-->
        <form method="post" enctype="multipart/form-data" id = "post-image">
        <input type="file" name="myfile" id="my-file" onchange="previewFile()" disabled="true">
        </form><br>
        
        Unlisted? 
        Yes: <input name="unlisted" value="Yes" type="radio"/>
        No: <input name="unlisted" value="No" type="radio" checked/>
        <br><br>
        
        <button type="button" id='post_btn'class="w3-button w3-theme" )" ><i class="fa fa-pencil"></i>Post</button> 
      </div>
    </div>
  </div>

  <script type="text/javascript">
  var input_data;
  function getPostData(post_id){
    url = '/myBlog/posts/'+ post_id + '/';
    return fetch(url).then(response=>response.json()).then(function(data){
      input_data = data;
      console.log(input_data);

      document.getElementById('contentType').innerHTML = input_data['contentType'];
      enableInput_modify(input_data['contentType'])
      document.getElementById('post-title').value = input_data['title'];
      document.getElementById('post-content').value = input_data['content'];
      document.getElementById('post-description').value = input_data['description'];
      document.getElementById('post-categories').value = input_data['categories'];
      let postBtn = document.getElementById('post_btn');
      postBtn.addEventListener('click',function(){
        post_modify("{{post_id}}",input_data['contentType']);
      })

    });
  }
  getPostData("{{post_id}}");

</script>


  {% else %}
  <div class="w3-card w3-round w3-white" style="width:30%;margin:auto;margin-top: 5%;">
    <div class="w3-container w3-padding">
      <div class="w3-center">
        <h3>You are not logged in</h3>
        <a href="{% url 'login' %}" class="w3-button w3-theme-d1 w3-margin-bottom"><i class="fa fa-sign-in"></i>  Login</a>
        <a href="{% url 'signup' %}" class="w3-button w3-theme-d1 w3-margin-bottom"><i class="fa fa-angle-double-up"></i>  Sign up</a>
      </div>
    </div>
  </div>
{% endif %}
{% endblock %}