<div class="w3-container w3-card w3-white w3-round w3-margin"><br>
    <i class="fa fa-user"class="w3-left w3-circle w3-margin-right" style="width:60px"></i>
    <h4>{{post.username}}</h4><br>
    <hr class="w3-clear">
    <p>post.content</p>
      <div class="w3-row-padding" style="margin:0 -16px">
    </div>
    <button type="button" class="w3-button w3-theme-d1 w3-margin-bottom"><i class="fa fa-thumbs-up"></i>  Like</button> 
    <button type="button" class="w3-button w3-theme-d2 w3-margin-bottom"><i class="fa fa-comment"></i>  Comment</button> 
  </div>