{% extends 'base.html' %}
{% block content %}

    {% if user.is_authenticated %}
        <div class="w3-container w3-card w3-white w3-round w3-margin">
        <i class="fa fa-user w3-left w3-circle" style="width: 20px; margin: 25px; display: inline-block;"></i>
        {% if currentAuthorIsOwner %}
            <i class="fa fa-trash w3-right w3-margin-right w3-button" style="width: 25px; margin: 25px"
               onclick="deletePost('{{ postID }}')"></i>
        {% endif %}

        <a href="/myBlog/authordetails/{{author.id}}/" style="font-size: 25px; margin-top: 11px; display: inline-block;">{{author}}</a>
        <hr class="w3-clear">
        <h3 class="w3-row-padding" style="margin: 0px 20px;">{{title}}</h3>
        <hr class="w3-clear">
        <div class="w3-row-padding" style="margin: 0px 20px;"> Content:
            {% if contentIsPicture%}
                <img src={{ content }} height=20% width=20%>
            {% else %}
                {% autoescape off %}{{ content }}{% endautoescape %}
            {% endif %}</p>
        </div>
        <hr class="w3-clear">
        <p class="w3-row-padding" style="margin: 0px 20px;">Description: {{ description }}</p>
        <hr class="w3-clear">
        <p class="w3-row-padding" style="margin: 0px 20px;">{{ published }}</p>
        <hr class="w3-clear">
        <p class="w3-row-padding" style="margin: 0px 20px;">Visibility: {{ visibility }}</p>
        <hr class="w3-clear">
        <p class="w3-row-padding" style="margin: 0px 20px;">Unlisted: {{ unlisted }}</p>
        <hr class="w3-clear">
        <p class="w3-row-padding" style="margin: 0px 20px;">Categories:
            {% for category in categories %}
                <mark class="w3-theme-d1" style="padding: 5px">{{ category }}</mark>
            {% endfor %}
        </p>
        <hr class="w3-clear">

        <div class="w3-row-padding" style="margin: 0px 20px;"> 
            <h4>Comments</h4>
            {% for comment in comments %}
                <p>{{author}} commented: {{ comment.comment }}</p>
            {% endfor %}
            <textarea id="{{ textAreaID }}" class="w3-border w3-padding" style="width: 100%;"></textarea>
            <button class="w3-button w3-theme-d1 w3-margin-bottom w3-right" onclick="commentPost('{{ postID }}')"><i class="fa fa-comment"></i> Comment</button>
        </div>

    {% else %}
        <div class="w3-card w3-round w3-white" style="width:30%;margin:auto;margin-top: 5%;">
            <div class="w3-container w3-padding">
                <div class="w3-center">
                    <h3>You are not logged in</h3>
                    <a href="{% url 'login' %}" class="w3-button w3-theme-d1 w3-margin-bottom"><i class="fa fa-sign-in"></i>  Login</a>
                    <a href="{% url 'signup' %}" class="w3-button w3-theme-d1 w3-margin-bottom"><i class="fa fa-angle-double-up"></i> Sign up</a>
                </div>
            </div>
        </div>
    {% endif %}
{% endblock %}