<div class="w3-container w3-card w3-white w3-round w3-margin">
  <h4>Posts streams</h4>
</div>
<div id="posts_holder"> 

</div>
<script>

function display_posts(data) {
    let holder = document.getElementById("posts_holder");
    holder.innerHTML = "";
    if (data.detail === 'Not found.'){
        let post = document.createElement("div");
        post.classList.add("w3-container", "w3-card", "w3-white", "w3-round", "w3-margin");
        holder.appendChild(post);
        let notFound = document.createElement("h2");
        notFound.innerHTML = "No posts found";
        notFound.classList.add("w3-row-padding");
        notFound.style.margin = "20px";
        post.appendChild(notFound);
    }

    else{
      for (var i = 0; i < data.posts.length; i++) {
        let post = document.createElement("div");
        post.classList.add("w3-container", "w3-card", "w3-white", "w3-round", "w3-margin");

        holder.appendChild(post);
        var userLogo = document.createElement("i");
        userLogo.classList.add("fa", "fa-user");
        userLogo.classList.add("w3-left", "w3-circle");
        userLogo.style.width = "20px";
        userLogo.style.margin = "25px";
        userLogo.style.display = "inline-block";
        post.appendChild(userLogo);

        if ({{trashable}})
        {
        let post_id = data.posts[i].postid;
        var trashLogo = document.createElement("i");
        trashLogo.classList.add("fa", "fa-trash", "w3-right", "w3-margin-right", "w3-button");
        trashLogo.style.width = "25px";
        trashLogo.style.margin = "25px";
        trashLogo.onclick=function(){deletePost(post_id)} ;
        post.appendChild(trashLogo);
        }

        var author = document.createElement("a");
        var friend_id = data.posts[i]['author']['id'];
        author.setAttribute('href','/myBlog/authordetails/'+friend_id+'/');
        author.innerHTML = data.posts[i].author.displayName;
        author.style.fontSize='25px';
        author.style.marginTop = "11px";
        author.style.display = "inline-block";
        post.appendChild(author);

        var line = document.createElement("hr");
        line.classList.add("w3-clear");
        post.appendChild(line);

        var title = document.createElement("h3");
        title.innerHTML = data.posts[i].title;
        title.classList.add("w3-row-padding");
        title.style.margin = "0 20px";
        post.appendChild(title);

        var line = document.createElement("hr");
        line.classList.add("w3-clear");
        post.appendChild(line);

        var divDescription = document.createElement("div");
        divDescription.classList.add("w3-row-padding");
        divDescription.style.margin = "0 20px";
        post.appendChild(divDescription);

        if (data.posts[i].contentType == "image/png;base64" || data.posts[i].contentType == "image/jepg;base64")
        {
        var content = document.createElement("img");
        content.src = data.posts[i].content;
        content.style.width = "20%";
        content.style.height = "20%";
        }
        else
        {
        var content = document.createElement("p");
        content.innerHTML = data.posts[i].content;
        }
        divDescription.appendChild(content);

        var line = document.createElement("hr");
        line.classList.add("w3-clear");
        divDescription.appendChild(line);

        var commentText = document.createElement("h4");
        commentText.innerHTML = "Comments";
        divDescription.appendChild(commentText);

        for (var j = 0; j < data.posts[i].comments.length; j++)
        {
        var comment = document.createElement("p");
        comment.innerHTML = data.posts[i].comments[j].author.displayName+" commented: "+data.posts[i].comments[j].comment;
        divDescription.appendChild(comment);
        }

        var commentInput = document.createElement("textarea");
        commentInput.id = "commentInput"+data.posts[i].postid;
        commentInput.classList.add("w3-border", "w3-padding");
        commentInput.type="text";
        commentInput.style.width ="100%";
        divDescription.appendChild(commentInput);


        var commentButton = document.createElement("button");
        commentButton.classList.add("w3-button", "w3-theme-d1", "w3-margin-bottom", "w3-right");
        commentButton.insertAdjacentHTML("beforeend", "<i class='fa fa-comment'></i>  Comment");
        let post_id = data.posts[i].postid;
        commentButton.onclick=function(){commentPost(post_id)} ;
        divDescription.appendChild(commentButton);

      }
    
      if (data.next != null){
        var nextButton = document.createElement("button");
        nextButton.classList.add("w3-button", "w3-theme-d1", "w3-margin-bottom", "w3-right");
        nextButton.insertAdjacentHTML("beforeend", "<i class='fa fa-arrow-right	'></i> Next Page");
        nextButton.onclick=function(){getAllPosts(data.next).then(display_posts)} ;
        holder.appendChild(nextButton);
      }

      if (data.previous != null){
        var nextButton = document.createElement("button");
        nextButton.classList.add("w3-button", "w3-theme-d1", "w3-margin-bottom", "w3-left");
        nextButton.insertAdjacentHTML("beforeend", "<i class='fa fa-arrow-left	'></i> Previous Page");
        nextButton.onclick=function(){getAllPosts(data.previous).then(display_posts)} ;
        holder.appendChild(nextButton);
      }
    }
  }
  getAllPosts("{{posts_url}}").then(display_posts);

</script>
